#selectable {
	padding-left: 0px;
	margin: 0;
}

/* List element of the treeview */
#selectable > li {
	list-style-type: none;
	background: none;
	padding: 0px;
	margin: 0px;
	border: 0px;
	margin-top: 3px;
	display: flex;
}

/* All spans in listing elements */
#selectable > li > span {
	padding: 5px;
	color: #c7c7c7;
	border: 1px #ccc solid;
	background: #fff;
}

/* First span after a list element (the naming span) */
#selectable > li > span:nth-child(1) {
	margin-right: 3px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	flex-grow: 1;
}

/* Second span after a list element (the arrow span) */
#selectable > li > span:nth-child(2) {
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}

/* First span after a list element:hover (the naming span) */
#selectable > li > span:nth-child(1):hover {
	border: 1px #1c1c1c solid;
	cursor: pointer;
}

/* Second span after a list element:hover (the arrow span) */
#selectable > li > span:nth-child(2):hover {
	border: 1px #1c1c1c solid;
	cursor: pointer;
}

#selectable > .ui-selecting > span {
	border: 1px blue solid;
}

#selectable > .ui-selected > span:nth-child(2) {
	background-color: #1c1c1c;
}